{% extends "base.html" %}
{% load static %}
{% block title %}DARE - SPA Onboarding{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block spa_content %}
<div ng-view class="h-full"></div>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/datatables-setup.js' %}"></script>
{% endblock %}
